*{
    transition: 0.5s;
    animation: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-animation: 0.5s;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

win{
    width: 90%;
    height: 80%;
    max-width: 1200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1);
    transform-origin:center ;

    animation: openWinAnimation 0.5s ease-in-out;
}

winHead{
    height: fit-content;
    padding: 10px 5% 10px 5%;
    width: 90%;
    background: #dedede;

}

winCloseIcon{
    width: 20px;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}

winTitle{
    width: fit-content;
    height: fit-content;
    font-size: 25px;
}

winBody{
    display: block;
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
}

winBack{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);



}

@keyframes openWinAnimation {
    0%{
        transform: scale(0.6);
        opacity: 0;
    }
    70%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes closeWinAnimation {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    70%{
        transform: scale(0.6);
        opacity: 1;
    }
    100%{
        transform: scale(0.5);
        opacity: 0;
    }

}

@keyframes closeBackAnimation {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }

}